server:
  port: 8080

spring:
  datasource:
    url: jdbc:mysql://${DB_HOST}:${DB_PORT}/${DB_NAME}?serverTimezone=Asia/Seoul&characterEncoding=UTF-8&autoReconnect=true&useSSL=false&connectTimeout=60000
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}

    driver-class-name: com.mysql.cj.jdbc.Driver

  servlet:
    multipart:
      enabled: true
      max-file-size: 10MB
      max-request-size: 10MB

mybatis:
  mapper-locations: classpath:mapper/*.xml
  config-location: classpath:mybatis-config.xml

recipe:
  api:
    key: ${API_KEY}
    base-url: ${API_URL:https://openapi.foodsafetykorea.go.kr/api}

file:
  upload:
    directory: ${FILE_UPLOAD_DIR:/app/uploads/recipes}
    url-prefix: /uploads/recipes

huggingface:
  api:
    key: ${HF_API_KEY}
    base-url: https://router.huggingface.co/hf-inference/models
    model: google/vit-base-patch16-224

brevo:
  api:
    key: ${BREVO_API_KEY:}
    sender-email: ${BREVO_SENDER_EMAIL:}