server:
  port: 8080

spring:
  datasource:
    url: jdbc:mysql://127.0.0.1:3306/leftout?serverTimezone=Asia/Seoul&characterEncoding=UTF-8
    username: {USER_ID}
    password: {USER_PASSWORD} # 비밀번호는 비워둠 (prod 파일에서 가져옴)
  servlet:
    multipart:
      enabled: true
      max-file-size: 10MB
      max-request-size: 10MB

mybatis:
  mapper-locations: classpath:mapper/*.xml
  config-location: classpath:mybatis-config.xml

# 식품안전나라 레시피 API 설정
recipe:
  api:
    key: {API_KEY}
    base-url: {API_URL}

# 파일 업로드 설정
file:
  upload:
    directory: src/main/resources/static/uploads/recipes
    url-prefix: /uploads/recipes